{% extends 'base.html' %}

{% block content %}
<div class="min-h-screen bg-black text-white">
    <div class="pt-20  px-12 ">
        <p>@{{user.username}}</p>
    </div>

    <div class="py-20 w-full  gap-6 px-12  grid grid-cols-4  ">
        {% for note in notes %}
            <div class=" border p-6 space-y-2">
                <p>{{note.content | truncatechars:88}}</p>
                <p > @{{note.user}}</p>
                <p class="my-5 text-xs text-gray-500">{{note.date}}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}